<mat-card>
  <mat-card-title>
    ADD BOOK DATA
  </mat-card-title><br>
  <mat-card-content>
    <mat-form-field class="name">
      <mat-label>Book name</mat-label>
      <input matInput [formControl]="bookNameFormControl"  name="book_name"/>
      <mat-error *ngIf="bookNameCorrectFormat(1)">
        Book name cannot be just spaces
      </mat-error>
      <mat-error *ngIf="bookNameCorrectFormat(2)">
        Book name is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="barcode">
      <mat-label>barcode</mat-label>
      <input matInput [(ngModel)]="bookUpload.barcode" name="barcode"/>
    </mat-form-field><br>
    <mat-form-field class="isbn">
      <mat-label>ISBN</mat-label>
      <input matInput  [(ngModel)]="bookUpload.isbn" [required]="bookUpload.issn===''&&bookUpload.isbn===''" name="isbn"/>
    </mat-form-field>
    <mat-form-field class="issn">
      <mat-label>ISSN</mat-label>
      <input matInput [(ngModel)]="bookUpload.issn" [required]="bookUpload.issn===''&&bookUpload.isbn===''" name="issn"/>
    </mat-form-field>
    <p style="margin: 0 0 10px 2px;font-size: 20px" *ngIf="bookUpload.issn.length===0&&bookUpload.isbn.length===0">You must fill in either ISSN or ISBN</p>
    <mat-form-field class="deposit">
      <mat-label>Deposit</mat-label>
      <input matInput type="number" max="100" min="0" [(ngModel)]="bookUpload.deposit" name="deposit"/>
    </mat-form-field>
    <mat-form-field class="language" *ngIf="allLanguage">
      <mat-label>Language</mat-label>
      <mat-select [(ngModel)]="bookUpload.language" [required]="bookUpload.language===''" >
        <mat-option *ngFor="let language of allLanguage" [value]="language">{{language}}</mat-option>
      </mat-select>
    </mat-form-field><br>
    <mat-form-field class="publisher">
      <mat-label>Book publisher</mat-label>
      <input matInput [(ngModel)]="bookUpload.publisher" name="publisher"/>
    </mat-form-field><br>
    <mat-form-field class="description">
      <mat-label>Book description</mat-label>
      <textarea matInput [(ngModel)]="bookUpload.description" maxlength="5000" name="book_upload_description"></textarea>
      <mat-hint>Maximum 5000 characters</mat-hint>
    </mat-form-field><br>
    <mat-card-title><h3>Book Author</h3></mat-card-title>
    <mat-card-content>
      <mat-chip *ngFor="let author of showAuthor" >
        <mat-label>{{author.name}}</mat-label>
        <button matChipRemove (click)="removeAuthor(author)" class="add"><mat-icon>cancel</mat-icon></button>
      </mat-chip><br>
  <app-book-add-author-page (_addAuthor)="bookAddAuthor($event)"></app-book-add-author-page>
    </mat-card-content>
    <br>
    <app-add-author-page></app-add-author-page>
    <br>
  <mat-card-title><h3>Book Type</h3></mat-card-title>
  <mat-card-content>
    <mat-chip *ngFor="let type of showType" >
      <mat-label>{{type.name}}</mat-label>
      <button matChipRemove (click)="removeType(type)" class="add"><mat-icon>cancel</mat-icon></button>
    </mat-chip><br>
  <app-book-add-type-page (_addType)="bookAddType($event)"></app-book-add-type-page>
  </mat-card-content>
    <app-add-type-page></app-add-type-page>
    <br>
    <button mat-dialog-close mat-raised-button class="btn">Close</button>
    <button mat-flat-button (click)="uploadBook()"  [disabled]="!postBtn()" class="btn">OK</button>
  </mat-card-content>
</mat-card>
