
<mat-card [style.background-color]="book?.status=='ENABLE' ? '#3BAFBE' : book?.status == 'OCCUPIED' ? '#FF6B6B' : '#FFD166'">
  <main>
  <img [src]="book?.imgUrl" *ngIf="book?.imgUrl" alt="">
  <mat-card class="left">
    <p>  BookId: {{book?.bookID}}</p>
    <p>  Barcode: {{book?.barcode}}</p>
    <p>  Book Name: {{book?.name}}</p>
    <p *ngIf="book?.isbn">  ISBN: {{book?.isbn}}</p>
    <p *ngIf="book?.issn">  ISSN: {{book?.issn}}</p>
    <p>  Language: {{book?.language}}</p>
    <p *ngIf="book?.publisher">  Publisher: {{book?.publisher}}</p>
    <p *ngIf="book?.deposit">  Deposit: €{{book?.deposit}}</p>
    <p *ngIf="book?.author&&book?.author.length!=0">Author:<span class="author-name" *ngFor="let author of book?.author" [matTooltip]="author.description" (click)="openAuthorPage(author.authorId)">{{author.name}}[{{author.nationality}}]</span></p>
    <p *ngIf="book?.type&&book?.type!=0" class="book-type-box" >  Book Type:</p>
    <mat-card-content *ngIf="book?.type">
      <mat-chip *ngFor="let type of book?.type" matTooltip="{{type.description}}">
        {{type.name}}
      </mat-chip>
    </mat-card-content>
    <p *ngIf="book?.entryTime">  Published time: {{book?.entryTime}}</p>
    <p *ngIf="book?.borrowCount!=null">  Number of borrowed copies: {{book?.borrowCount}}</p>
    <p *ngIf="book?.description">  Description: {{book?.description}}</p>
  </mat-card>
  </main>

  <mat-expansion-panel *ngIf="book?.status=='ENABLE' && user.isCLIENT(userData)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        I want to borrow this book
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-progress-bar *ngIf="progressBar" mode="query"></mat-progress-bar>
    <mat-card class="bc">
      <mat-form-field>
        <mat-label>Select a book return time</mat-label>
        <input matInput [matDatepickerFilter]="myFilter" [matDatepicker]="picker" #date disabled>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker disabled = "false"></mat-datepicker>
      </mat-form-field>
      <br>
      <span class="deposit">€{{book?.deposit}}</span>
      <span class="balance" matTooltip="Click to recharge" (click)="openRechargePage()">Account balance of €{{wallet}}<span *ngIf="book?.deposit > wallet" style="color: #FF6B6B;font-weight: 600">&ngsp; The balance is insufficient.</span></span>
      <p *ngIf="date.value" class="clause">You need to return the book by {{date.value}}  23:59:59 in order to avoid the deduction of additional fees</p>
      <mat-checkbox *ngIf="date.value" [(ngModel)]="confirm">I have been advised of the rules regarding return time and deduction of additional charges.</mat-checkbox>
      <br>
      <button mat-flat-button (click)="borrow(date.value)" class="btn">BORROW</button>
    </mat-card>

  </mat-expansion-panel>
    <mat-expansion-panel *ngIf="user.isAdmin(userData) && !hiddenEdit" [expanded]= "step === 1" (opened)="step=1" (closed)="step=0" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Modify book data
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-card class="bc">

        <mat-form-field *ngIf="bookUpdate" class="modify">
          <mat-label>BookID</mat-label>
          <input matInput disabled [ngModel]="bookId">
        </mat-form-field>

        <mat-form-field *ngIf="bookUpdate"  class="book-name">
          <mat-label>Book name</mat-label>
          <input matInput [formControl]="bookNameFormControl">
          <mat-error *ngIf="bookNameCorrectFormat(1)">
            Book name cannot be just spaces
          </mat-error>
          <mat-error *ngIf="bookNameCorrectFormat(2)">
            Book name is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field  *ngIf="bookUpdate" class="modify">
          <mat-label>isbn</mat-label>
          <input matInput [(ngModel)]="bookUpdate.isbn" [required]="bookUpdate.issn===''&&bookUpdate.isbn===''">
        </mat-form-field>

        <mat-form-field  *ngIf="bookUpdate"  class="modify">
          <mat-label>issn</mat-label>
          <input matInput [(ngModel)]="bookUpdate.issn" [required]="bookUpdate.issn===''&&bookUpdate.isbn===''">
        </mat-form-field>

        <p style="margin: 0 0 12px 12px;font-size: 18px;color: #FF6B6B" *ngIf="bookUpdate.issn.length===0&&bookUpdate.isbn.length===0">You must fill in either ISSN or ISBN</p>

        <mat-form-field  *ngIf="bookUpdate" class="modify">
          <mat-label>Publisher</mat-label>
          <input matInput [(ngModel)]="bookUpdate.publisher" >
        </mat-form-field>

        <mat-form-field  *ngIf="bookUpdate" class="modify">
          <mat-label>Deposit</mat-label>
          <input matInput [(ngModel)]="bookUpdate.deposit" type="number" max="100" min="0">
        </mat-form-field>

        <mat-form-field *ngIf="bookUpdate&&allLanguage" class="modify" >
          <mat-label>Language</mat-label>
          <mat-select [(ngModel)]="bookUpdate.language" [required]="bookUpdate.language===''">
            <mat-option *ngFor="let language of allLanguage" [value]="language" >
              {{language}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field *ngIf="bookUpdate" class="description-input">
          <mat-label>Description</mat-label>
          <textarea class="description-t" matInput [(ngModel)]="bookUpdate.description" maxlength="5000" ></textarea>
          <mat-hint>Maximum 5000 characters</mat-hint>
        </mat-form-field>

        <mat-card-title><h3>Book Author</h3></mat-card-title>
        <mat-card-content *ngIf="bookUpdate">
          <mat-chip *ngFor="let author of showAuthor" >
            <mat-label>{{author.name}}</mat-label>
            <button matChipRemove (click)="removeAuthor(author)"><mat-icon>cancel</mat-icon></button>
          </mat-chip>
        </mat-card-content>
        <br>
        <app-book-add-author-page (_addAuthor)="bookAddAuthor($event)"></app-book-add-author-page>
        <app-add-author-page ></app-add-author-page>

        <mat-card-title><h3>Book Type</h3></mat-card-title>
        <mat-card-content *ngIf="bookUpdate">
          <mat-chip *ngFor="let type of showType" >
            <mat-label>{{type.name}}</mat-label>
            <button matChipRemove (click)="removeType(type)"><mat-icon>cancel</mat-icon></button>
          </mat-chip>
        </mat-card-content>
        <br>
        <app-book-add-type-page (_addType)="bookAddType($event)"></app-book-add-type-page>
        <app-add-type-page ></app-add-type-page>

        <br>
        <img *ngIf="selectedImage" [src]="selectedImage" alt="Selected Image" class="image">
        <br>
        <label for="sf" class="uiInputFile">Select Image</label>
        <input type="file" (change)="onFileSelected($event)" id="sf" class="fileInput">
      </mat-card>
      <button mat-flat-button (click)="update()" [disabled]="!updateBtn()"  class="update">UPDATE</button>
    </mat-expansion-panel>
    <mat-card-content class="end">
      <button mat-flat-button *ngIf="!isWishBook&&user.isCLIENT(userData)" (click)="addWishList()" > ❤ </button>
      <button mat-flat-button *ngIf="isWishBook&&user.isCLIENT(userData)" (click)="removeWishList()"> Remove</button>
      <button mat-dialog-close mat-raised-button >Close</button>
    </mat-card-content>
</mat-card>





