<main>
  <div class="left">
    <p class="author-name" *ngIf="!isEdit">{{authorData.name}}</p>
    <mat-form-field class="author-name-edit" *ngIf="isEdit">
      <mat-label>Name</mat-label>
      <input matInput [(ngModel)]="authorDataByModify.name">
    </mat-form-field>
    <p class="author-nationality" *ngIf="!isEdit">Nationality: {{authorData.nationality}}</p>
    <mat-form-field class="author-nationality-edit" *ngIf="isEdit">
      <mat-label>Nationality</mat-label>
      <input matInput [(ngModel)]="authorDataByModify.nationality">
    </mat-form-field>
    <p class="author-description" *ngIf="!isEdit">Description: {{authorData.description}}</p>
    <mat-form-field class="author-description-edit" *ngIf="isEdit">
      <mat-label>Description</mat-label>
      <textarea matInput [(ngModel)]="authorDataByModify.description" maxlength="5000"></textarea>
      <mat-hint>Maximum 5000 characters</mat-hint>
    </mat-form-field>
  </div>
  <div class="image-container">
    <img class="author-img" [src]="authorImageSelectedUrl" alt="404_no fount">
    <div class="overlay" *ngIf="isEdit">
      <label for="sf">
        <h3>Change Image</h3>
      </label>
      <input class="fileInput" type="file" (change)="onImageSelected($event)" id="sf">
    </div>
  </div>

  <mat-icon class="edit" *ngIf="user.isAdmin(userData)" (click)="edit()">edit</mat-icon>
  <mat-card class="bookList">
    <p class="book-list-title" *ngIf="authorData.name">Writings by {{authorData.name}}</p>
    <ng-container *ngFor="let b of paginatedBooks">
      <app-book-card [book]="b" [showBorrowCount]="true"
                     (dialogClosed)="getAuthorsBooks(authorData.authorId)"></app-book-card>
    </ng-container>
    <mat-paginator [length]="authorsBooksData.length" [pageSize]="pageSize"
                   (page)="onPageChange($event)"></mat-paginator>
  </mat-card>
</main>
