<!--<mat-dialog-content>-->
<!--  <mat-label><h1>Borrowing Information</h1></mat-label>-->
<!--<mat-card>-->
<!--  <mat-card-title>-->
<!--    <p>User Data:</p>-->
<!--  </mat-card-title>-->

<!--  <mat-card-content>-->
<!--    <p class="p1">Name:</p><p class="p2"> {{borrowData?.user.name}}</p><br>-->
<!--    <p class="p1">Telephone: </p><p class="p2">{{borrowData?.user.telephone}}</p>-->
<!--  </mat-card-content>-->

<!--  <mat-card-title>-->
<!--    <p>Book Data:</p>-->
<!--  </mat-card-title>-->

<!--  <mat-card-content>-->
<!--    <p class="p1">BookId:</p><p class="p2"> {{borrowData?.book.bookID}}</p><br>-->
<!--    <p class="p1">Book Name:</p><p class="p2">{{borrowData?.book.name}}</p><br>-->
<!--    <p class="p1">Book Deposit:</p><p class="p2">€{{borrowData?.book.deposit}}</p><br>-->
<!--  </mat-card-content>-->

<!--  <mat-card-title>-->
<!--    <p>Return Data:</p>-->
<!--  </mat-card-title>-->

<!--  <mat-card-content>-->
<!--    <p class="p1">Reference: </p><p class="p2">{{borrowData?.reference}}</p><br>-->
<!--    <p class="p1">Borrow Time: </p><p class="p2">{{borrowData?.lendingTime}}</p><br>-->
<!--    <p class="p1">Limit Time: </p><p class="p2">{{borrowData?.limitTime}}</p>-->
<!--  </mat-card-content>-->

<!--</mat-card>-->
<!--</mat-dialog-content>-->
<!--<mat-dialog-actions>-->
<!--  <button mat-flat-button  mat-dialog-close>Close</button>-->
<!--</mat-dialog-actions>-->


<mat-card class="order-details">
  <h2>Borrowing Information</h2>
  <div class="order-info">
    <div><strong>Reference:</strong> {{borrowData?.reference}}</div>
    <div><strong>User name:</strong> {{borrowData?.user.name}}</div>
    <div><strong>Telephone:</strong> {{borrowData?.user.telephone}}</div>
    <div><strong>Book ID:</strong> {{borrowData?.book.bookID}}</div>
    <div><strong>Barcode:</strong> {{borrowData?.book.barcode}}</div>
    <div><strong>Book Name:</strong> {{borrowData?.book.name}}</div>
    <div><strong>Book Deposit:</strong> €{{borrowData?.book.deposit}}</div>
    <div><strong>Borrow Time:</strong> {{borrowData?.lendingTime}}</div>
    <div><strong>Limit Time:</strong> {{borrowData?.limitTime}}</div>

  </div>
</mat-card>
