<main>
  <div class="articles-box">
    <mat-card class="random-box"  *ngIf="randomBook" (click)="openBookPage(randomBook.bookID)">
      <img class="random-image" [src]="randomBook.imgUrl"  alt="">
      <mat-card-content class="random-text-box">
        <p class="tap">Daily Picks</p>
        <p class="day">{{currentDate.getDate()}}<span class="months">/{{monthAbbreviations[currentDate.getMonth() + 1]}}</span></p>
        <div class="random-content-box">
          <p class="random-name">{{randomBook.name}} [Language:{{randomBook.language}}]</p>
          <p class="random-author"  *ngIf="randomBook.author"><span class="author-name" *ngFor="let author of randomBook.author" [matTooltip]="author.description" >{{author.name}}</span></p>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="action-box" >
      <button mat-mini-fab class="btn1" color="primary" *ngIf="user.isNoNull(userData)" (click)="prevPage()"> <mat-icon>chevron_left</mat-icon> </button>
      <button mat-mini-fab class="btn2" color="primary" *ngIf="user.isNoNull(userData)" (click)="nextPage()"> <mat-icon>chevron_right</mat-icon> </button>
      <div class="show" [style.transform]="'translateX(' + (-this.componentPage * 465) + 'px)'">

        <div class="page">
          <p class="conditions" *ngIf="weather!=undefined">{{weather.weather[0].main}}</p>
          <p class="weather" *ngIf="weather">{{weather.main.temp.toString().split(".")[0]}}° </p>
          <p class="weather-time">{{currentTime}}  Madrid</p>
          <div class="max-min-box">
            <p class="min" *ngIf="weather">MIN:{{weather.main.temp_min.toString().split(".")[0]}}° </p>
            <p class="max" *ngIf="weather">MAX:{{weather.main.temp_max.toString().split(".")[0]}}° </p>
          </div>
          <div class="img-box">
            <img *ngIf="weatherImg" class="weather-img" [src]="weatherImg"  loading="lazy" alt="">
          </div>
        </div>

        <div class="page" *ngIf="user.isCLIENT(userData)">
          <p class="lending-data-title">Lending Data</p>
          <div class="table-box">
            <table mat-table [dataSource]="lendingList" (click)="toBorrowPage()">
              <ng-container matColumnDef="reference">
                <th mat-header-cell *matHeaderCellDef > Reference </th>
                <td mat-cell *matCellDef="let element" > {{element.reference}} </td>
              </ng-container>
              <ng-container matColumnDef="bookID">
                <th mat-header-cell *matHeaderCellDef > Book </th>
                <td mat-cell *matCellDef="let element" > {{element.book.name}} [ID:{{element.book.bookID}}] </td>
              </ng-container>
              <ng-container matColumnDef="limitTime">
                <th mat-header-cell *matHeaderCellDef > LimitTime </th>
                <td mat-cell *matCellDef="let element"> {{element.limitTime}} </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef=" low "></tr>
              <tr mat-row *matRowDef="let row; columns: low;"></tr>
            </table>
            <p class="reminder" *ngIf="lendingList.length==0">There are no loan orders that need to be returned</p>
          </div>
        </div>

        <div class="page" *ngIf="user.isAdmin(userData)">
          <div class="page1" >
            <p class="title-overall">Library loan statistics</p>
            <div class="statistics-box" (click)="openTableOfYear()" matTooltip="The total number of books lent out since the establishment of the website is {{lendingStatistics?.all}}">
              <mat-progress-spinner class="spinner" [value]="100"></mat-progress-spinner>
              <p class="sum">{{formatNumber(lendingStatistics?.all)}}</p>
              <p class="title">All</p>
            </div>
            <div class="statistics-box" (click)="openTableOfMonth()"  matTooltip="{{lendingStatistics?.thisYear}} books were lent out this year, {{100*(lendingStatistics?.thisYear/lendingStatistics?.all)}}% of the total number of all">
              <mat-progress-spinner class="spinner" [value]="100*(lendingStatistics?.thisYear/lendingStatistics?.all)" ></mat-progress-spinner>
              <p class="sum">{{formatNumber(lendingStatistics?.thisYear)}}</p>
              <p class="title">Year</p>
            </div>
            <div class="statistics-box" matTooltip="{{lendingStatistics?.thisMonth}} books were lent out this month, {{100*(lendingStatistics?.thisMonth/lendingStatistics?.thisYear)}}% of the total number of books lent during the year">
              <mat-progress-spinner class="spinner" [value]="100*(lendingStatistics?.thisMonth/lendingStatistics?.thisYear)"></mat-progress-spinner>
              <p class="sum">{{formatNumber(lendingStatistics?.thisMonth)}}</p>
              <p class="title">Month</p>
            </div>
            <div class="statistics-box" (click)="openTableOfWeek()"  matTooltip="{{lendingStatistics?.thisWeek}} books were lent out this week, {{lendingStatistics?.thisMonth==0?0:100*(lendingStatistics?.thisWeek/lendingStatistics?.thisMonth)}}% of the total number of books lent during the month">
              <mat-progress-spinner class="spinner" [value]="100*(lendingStatistics?.thisWeek/lendingStatistics?.thisMonth)"></mat-progress-spinner>
              <p class="sum">{{formatNumber(lendingStatistics?.thisWeek)}}</p>
              <p class="title">Week</p>
            </div>
          </div>
        </div>
      </div>
    </mat-card>
    <mat-card class="wallet-box" >
      <button class="login-btn" mat-flat-button *ngIf="!user.isNoNull(userData)" (click)="login()">Login</button>
      <button class="signup-btn" mat-flat-button *ngIf="!user.isNoNull(userData)" (click)="signup()">Sign up</button>
      <div *ngIf="user.isNoNull(userData)">
        <div *ngIf="user.isNoNull(userData)" class="hidden" (click)="display=!display"></div>
        <p class="hello">Hello</p>
        <p class="name">{{userData.userName}}</p>
        <p class="wallet">Balance</p>
        <p *ngIf="display" class="balance"> {{userBalance}} <span class="sym">€</span></p>
        <p *ngIf="!display" class="balance_x"> XX.XX <span class="sym">€</span></p>
      </div>


    </mat-card>
  </div>
  <app-book-search-page></app-book-search-page>
</main>
