<mat-card>
      <mat-card-title>Personal Page</mat-card-title>
  <mat-card-content>
    <mat-card-title-group>Personal Information</mat-card-title-group>
    <p>Name: {{userInf.name}}</p>
    <p>Email: {{userInf.email}}</p>
    <p>Birthdays: {{userInf.birthdays}}</p>
    <p>description: {{userInf.description}}</p>
    <p>Registration Time: {{userInf.createTime}}</p>
    <div *ngIf="(isLoginUser()||user.isROOT(userData))&&userInf.role == 'CLIENT'">
      <p class="wallet">E-wallet balance:{{wallet}}€</p>
      <p class="recharge" (click)="openRechargePage()">Recharge</p>
      <p class="billing-records" (click)="openWithdrawMoneyPage()">Cash out</p>
      <p class="billing-records" (click)="openBillingRecordsPage()">Billing records</p>
    </div>

    <div class="avatarBox">
      <div class="image-container">
        <img [src]="avatarSelectUrl" alt="404_no fount" class="avatar">
        <div class="overlay" *ngIf="isLoginUser()||user.isROOT(userData)"><label for="sf"><h3>Change avatar</h3></label>
          <input type="file" (change)="onFileSelected($event)" id="sf" class="fileInput">
        </div>
        <button class="avatar-save" mat-flat-button *ngIf="avatarUrl !== avatarSelectUrl" (click)="avatarUpdate()">SAVE</button>
      </div>
    </div>

    <mat-expansion-panel class="modify" [expanded]= "editProfileState === 1" (opened)="editProfileState=1" (closed)="editProfileState=0" *ngIf="isLoginUser()||user.isROOT(userData)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Modify personal data
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-card>
        <mat-form-field *ngIf="userUpdate">
          <mat-label>Name</mat-label>
          <input matInput  [formControl]="nameFormControl">
          <mat-error *ngIf="nameCorrectFormat(1)">
            Name cannot be just spaces
          </mat-error>
          <mat-error *ngIf="nameCorrectFormat(2)">
            Name is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field *ngIf="userUpdate">
          <mat-label>Select your birthday date</mat-label>
          <input matInput [max]="maxDate" [matDatepicker]="picker" [ngModel]="userUpdate.birthdays" >
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>

        </mat-form-field>

        <mat-form-field *ngIf="userUpdate">
          <mat-label>Email</mat-label>
          <input matInput [formControl]="emailFormControl" type="email">
          <mat-error *ngIf="emailCorrectFormat(1)">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="emailCorrectFormat(2)">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field *ngIf="userUpdate">
          <mat-label>Description</mat-label>
          <textarea matInput  [(ngModel)]="userUpdate.description" maxlength="150"></textarea>
          <mat-hint>Maximum 150 characters</mat-hint>
        </mat-form-field>
        <button mat-flat-button (click)="updateInformation();editProfileState=0" [disabled]="!noNull()">SAVE</button>
      </mat-card>
    </mat-expansion-panel>

    <mat-expansion-panel class="modify" [expanded]= "editSettingState === 1" (opened)="editSettingState=1" (closed)="editSettingState=0" *ngIf="isLoginUser()||user.isROOT(userData)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Setting personal
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-card>
        <section class="setting-box">
          <mat-checkbox class="setting-item" *ngIf="settingUpdate" [(ngModel)]="settingUpdate.emailWhenSuccessfulTransaction">I would like to receive email alerts of successful transactions</mat-checkbox>
          <mat-checkbox class="setting-item" *ngIf="settingUpdate" [(ngModel)]="settingUpdate.emailWhenOrderIsPaid">I would like to receive email alerts for order generation</mat-checkbox>
          <mat-checkbox class="setting-item" *ngIf="settingUpdate" [(ngModel)]="settingUpdate.emailWhenOrdersAboutToExpire">I would like to receive email alerts that my order is approaching its deadline</mat-checkbox>
          <mat-checkbox class="setting-item" *ngIf="settingUpdate" [(ngModel)]="settingUpdate.emailWhenOrdersUpdates">I would like to receive email alerts with more detailed information on book return orders</mat-checkbox>
        </section>
        <button mat-flat-button (click)="updateSetting();editSettingState=0">OK</button>
      </mat-card>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]= "editPasswordState === 1" (opened)="editPasswordState = 1" (closed)="editPasswordState = 0" *ngIf="isLoginUser()||user.isROOT(userData)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Modify Password
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-card>
        <mat-form-field class="example-full-width" >
          <mat-label>New Password</mat-label>
          <input matInput type="password" [formControl]="passwordFormControl">
          <mat-error *ngIf="passwordCorrectFormat(1)">
            Password must contain at least one letter and one number
          </mat-error>
          <mat-error *ngIf="passwordCorrectFormat(2)">
            Password is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width" >
          <mat-label >Confirm Password</mat-label>
          <input matInput type="password" [(ngModel)]="confirmPassword" [required]="confirmPassword===''">
        </mat-form-field>
        <mat-label *ngIf="confirmPassword != '' && passwordFormControl.value != confirmPassword" class="confirm_password">The password entered twice is different</mat-label>
        <button mat-flat-button *ngIf="user.isROOT(userData)" (click)="resetPassword()" class="resetPassword">Reset Password</button>
        <button mat-flat-button [disabled]="!changePasswordBut()" (click)="changePassword()" class="changePassword">OK</button>
      </mat-card>
    </mat-expansion-panel>
  </mat-card-content>

  <mat-card-content *ngIf="wishListIsDisplay()">
    <mat-card-title-group>Collection List</mat-card-title-group>
    <table mat-table [dataSource]="collectionList" class="mat-elevation-z8">
      <ng-container matColumnDef="bookID">
        <th mat-header-cell *matHeaderCellDef> BookID </th>
        <td mat-cell *matCellDef="let element"  > {{element.bookID}} </td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"  > {{element.name}} </td>
      </ng-container>
      <ng-container matColumnDef="entryTime">
        <th mat-header-cell *matHeaderCellDef> Entry_Time </th>
        <td mat-cell *matCellDef="let element"  > {{element.entryTime}} </td>
      </ng-container>
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let element"  > {{element.status}} </td>
      </ng-container>
      <ng-container matColumnDef="view">
        <th mat-header-cell *matHeaderCellDef> View </th>
        <td mat-cell *matCellDef="let element"> <button mat-icon-button (click)="openBookPage(element.bookID)"><mat-icon> visibility</mat-icon> </button></td>
      </ng-container>
      <ng-container matColumnDef="management">
        <th mat-header-cell *matHeaderCellDef> Management </th>
        <td mat-cell *matCellDef="let element"> <button mat-icon-button *ngIf="user.isROOT(userData) || isLoginUser()" (click)="remove(element.bookID)"><mat-icon> delete</mat-icon> </button></td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef=" lowForBookList "></tr>
      <tr mat-row *matRowDef="let row; columns: lowForBookList;"></tr>
    </table>
  </mat-card-content>
</mat-card>
