/*mat-card{*/
/*  padding: 0 20px 0 20px;*/
/*}*/
/*button{*/
/*  margin-left: 20px;*/
/*}*/
/*h1{*/
/*  text-align: center;*/
/*}*/
/*mat-dialog-content{*/
/*  padding: 20px 20px 0 20px;*/
/*}*/
/*.p1{*/
/*  width: 150px;*/
/*  float: left;*/
/*  margin: 0;*/
/*}*/
/*.p2{*/
/*  display: initial;*/
/*  margin: 0;*/
/*}*/
.order-details {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.order-details h2 {
  text-align: center;
}

.order-info {
  margin-top: 20px;
}

.order-info div {
  margin-bottom: 10px;
}
